.hamburger-menu {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 998; /* サイドメニューより下に表示されるように調整 */
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    width: 60px;
    margin-left: 75%;
  }
}
